.grid-example {
  .yui-row {
    margin-bottom: 16px;
  }
  .yui-col {
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
    }
    &:nth-child(even) {
      span {
        background-color: #59afff;
      }
    }
    &:nth-child(odd) {
      span {
        background-color: #3498ff;
      }
    }
  }
}
