* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: normal;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

$padding: 16px;

.pageWrapper {
  min-height: 100vh;

  .g-main {
    padding: $padding;
  }

  .g-header {
    padding: 8px 0;
    background-color: #eee;

    img {
      padding: 0 $padding;
      width: 150px;
      height: 48px;
    }
  }

  .g-aside {
    border-right: 1px solid #f2f2f5;
    margin-right: 16px;

    h2 {
      padding: $padding;
      font-size: 18px;
    }

    ul {
      min-width: 10em;

      li {
        a {
          display: block;
          padding: 8px $padding;
          color: #272c36;

          &:hover {
            color: #3498ff;
          }

          &.active {
            color: #fff;
            background-color: #3498ff;
          }
        }
      }
    }
  }

  .g-footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: $padding 0;
    border: 1px solid #f2f2f5;
  }
}
