.ym-icon-wrap {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: calc(16.66% - 8px);
      padding: 16px 0;
      background: #cce9ff;
      margin-left: 8px;
      margin-bottom: 8px;
      user-select: none;
      &:hover {
        color: #fff;
        background: #3498ff;
        cursor: pointer;
      }

      span {
        display: inline-block;
        margin-top: 8px;
        overflow: hidden;
      }
    }
  }
}
