.v-home-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header {
    .v-home {
      text-align: center;
      h1 {
        font-size: 34px;
        margin: 0;
        line-height: 48px;
        color: var(--title-color);
      }
      p {
        font-size: 18px;
        color: var(--default-color);
      }
    }
    .v-home-link {
      display: flex;
      justify-content: center;
      margin-top: 16px;
    }
  }

  .v-card {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
}
