* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: normal;
}
pre {
  font-family: "Fira Code Medium", Consolas, monospace;
  padding: 8px;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
$padding: 16px;
.pageWrapper {
  min-height: 100vh;
  .g-main {
    padding: $padding $padding * 2 $padding $padding;
    overflow: auto;
  }
  .g-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #eee;
    img {
      padding: 0 $padding;
      width: 150px;
      height: 48px;
    }
    &-right {
      display: flex;
      align-items: center;
    }
  }
  .g-aside {
    height: calc(100vh - 121px);
    overflow: auto;
    border-right: 1px solid #f2f2f5;
    h2 {
      padding: $padding;
      font-size: 18px;
    }
    ul {
      min-width: 10em;
      li {
        a {
          display: block;
          padding: 8px $padding;
          color: #272c36;
          &:hover {
            color: #3498ff;
          }
          &.active {
            color: #fff;
            background-color: lighten(#3498ff, 10%);
          }
        }
      }
    }
  }
  .g-footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: $padding 0;
    border: 1px solid #f2f2f5;
  }
}
.code-style {
  margin-top: 16px;
  .yui-button {
    margin-bottom: 8px;
  }
}

.margin_bottom {
  margin: 16px 0;
}
