@import 'assets/stylesheets/reset.scss';

$padding: 16px;

.pageWrapper {
  min-height: 100vh;
  .g-main {
    padding: $padding $padding * 2 $padding $padding;
    overflow: auto;
  }
  .g-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #eee;
    img {
      padding: 0 $padding;
      width: 150px;
      height: 48px;
    }
    &-right {
      display: flex;
      align-items: center;
    }
  }
  .g-aside {
    width: 256px;
    height: calc(100vh - 121px);
    overflow: auto;
    border-right: 1px solid #f2f2f5;
    h2 {
      padding: $padding;
      font-size: 18px;
    }
    ul {
      min-width: 10em;
      li {
        a {
          display: block;
          padding: 8px $padding;
          color: #272c36;
          font-size: 14px;
          &:hover {
            color: #3498ff;
          }
          &.active {
            color: #fff;
            background-color: lighten(#3498ff, 10%);
          }
        }
      }
    }
  }
  .g-footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: $padding 0;
    border: 1px solid #f2f2f5;
  }
}
.code-style {
  margin-top: 16px;
  .yui-button {
    margin-bottom: 8px;
  }
}
