.grid-example {
  border: 1px solid red;
  .yui-col {
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
    }
    &:nth-child(even) {
      span {
        background-color: #7dbcea;
      }
    }
    &:nth-child(odd) {
      span {
        background-color: #108ee9;
      }
    }
  }
}
