@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yym-demo-layout {
  height: 300px;
  color: #fff;
  margin-bottom: 16px;

  .yym-demo-sider {
    @include center;

    width: 256px;
    background-color: #3ba0e9;
  }

  .yym-demo-header {
    @include center;

    height: 64px;
    background-color: #7dbcea;
  }

  .yym-demo-content {
    @include center;

    min-width: 120px;
    background-color: #108ee9;
  }

  .yym-demo-footer {
    @include center;

    height: 64px;
    background-color: #7dbcea;
  }
}


.layout_demo {
  ul {
    li {
      // color: #fff;
      font-size: 14px;
      margin-bottom: 4px;
      // background-color: #108ee9;
    }
  }
}
